/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.topnav {
    overflow: hidden;
    background-color: #eee;
    color: #bbb;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    display: block;
    text-align: center;
    color: #999;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    color: #555;
  }
  
  .topnav .active{
    color: #555;
    font-weight: 500;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: inline;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  

* {
    box-sizing:border-box;
  }
  
  .left {
    padding:20px;
    float:left;
    width:20%;
  }
  
  .main{ 
    padding:20px;
    padding-top:0px; 
    float:left;
    width:60%; 
  }


  .table-2 {
    padding: 5px;
    float:left;
    width:60%; 
  }

  .table-2 tr:hover td
    { 
    background-color: #eee;
    cursor: pointer;
    }

    .overflow{
        background: lightcoral;
    }
    

  .table-1 {
      padding: 5px;
    float:left;
    width:40%; 
  }

  @media screen and (max-width:1000px) {
    .left, .main {
      width:100%; 
    }
    .left{
        display: none;
    }
  }
  @media (max-width: 800px) {
    .table-2, .table-1 {
        width: 100%;
        height: auto;
    }
}

th{
    border-bottom: 2px solid #ddd;
    border-collapse: collapse;
    
}

table, td, th{
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    padding: 10px;
}

.table-1{
    position: sticky;
    top: 80px;
}


.table-1 td:first-child {
    font-weight: bold;
  }

.filter{
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    overflow: hidden;
    display: inline-block;
}

.filter_param {
    float:left;
    width:25%; 
    padding-left: 5px;
    padding-right: 5px;
}

.filter select
{
    width: 100%;
    margin: 5px;
    padding: 5px;
    border-color:#999;
    border-radius: 5px;
}

button{
    box-sizing: border-box;
    border-radius: 5px;
    padding:10px;
    margin: 5px;
    border: none;
    color: white;
    background-color: dodgerblue;
}

.bar button{
    float:left;
}

.bar span {
    float: left;
    margin-left: 5px;
}


input{
    
    width: 100%;
    margin: 5px;
    padding: 5px;
    border: solid 1px;
    border-color:#999;
    padding:7px;
    border-radius: 5px;
}

.filter_param span {
    padding: 5px;
}


@media screen and (max-width:600px) {
    .left, .center {
      width:100%;      
    }
    .left{
        display: none;
    }
    button{
        width: calc(50% - 10px);
    }
    .bar span{
        width: calc(100% - 10px);
    }
    .bar div {
        width:100%;
    }
    .filter_param {
        width: 100%;
        height: auto;
    }
    .filter_param {
        width: 100%;
        height: auto;
    }
  }






/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
}
